/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* début de CSS */

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 99.7vh;
}

header {
    background-color: #CAC0AD;
    position: fixed;
    width: 100%;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigation .logo {
    width: 40%;
    margin-left: 20px;
}

.navigation .logo img {
    height: 70px;
    margin-left: 10px;
}

#sommaire, label {
    display: none;
}

.navigation nav {
    width: 60%;
}

.navigation nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation nav ul li {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #503B3D;
    font-size: 1.3rem;
    font-weight: bold;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #503B3D;
}

.navigation nav ul .lien-accueil a {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

.navigation nav ul .lien-a-propos a:hover,
.navigation nav ul .lien-experiences a:hover {
    background-color:white;
    font-weight: 100;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

.navigation nav ul .lien-a-propos a:active,
.navigation nav ul .lien-experiences a:active {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

/* SCROLL page à propos */
.lien-accueil-hover:hover {
    background-color:white;
    font-weight: 100;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}
.lien-a-propos-no-hover {
    pointer-events: none;
}
.navigation nav ul .lien-a-propos-a-active {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}
/* FIN SCROLL */

main {
    z-index: -10;
    display: flex;
    flex-direction: column;
    height: 180.4vh;
    margin-top: 10vh;
}

main .page-accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    height: 90vh;
    max-height: 100%;
}

main .page-accueil .image-accueil {
    position: relative;
    height: 100%;
}

main .page-accueil .image-accueil img {
    height: 100%;
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

main .page-accueil .image-accueil .message-bienvenue {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
    color: #F5EBE0;
    letter-spacing: 2px;
    position: absolute;
    top: 5px;
    right: 50px;
    text-align: right;
    margin-left: 140px;
}

main .page-accueil .metier {
    width: 40%;
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    transform: translateX(-30px);
}

main .page-accueil .metier hr {
    margin-right: 135px;
}

main .page-accueil .metier span {
    display: block;
    color: #832F25;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
}

@keyframes ApparitionTexte {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}

.metier,
.page-accueil .image-accueil .message-bienvenue {
    animation: ApparitionTexte 3s ease-in-out;
  }

main #page_a_propos {
    height: 90vh;
}
  

@media screen and (max-width:780px) {

.navigation {
    position: relative;
}

.navigation nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: 1s;
    top: 9.5%;
    background-color: #F5EBE0;
}

.navigation nav ul .lien-a-propos a:hover,
.navigation nav ul .lien-experiences a:hover {
    background-color:white;
    font-weight: 100;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

.navigation nav ul .lien-a-propos a:active,
.navigation nav ul .lien-experiences a:active {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

label i {
    font-size: 2em;
}

#sommaire:checked ~ nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 1s;
    top:9.5%;
    background-color: #F5EBE0;
}

main .page-accueil {
    display: block;
    margin: 0;
}

main .page-accueil .metier {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 50px;
}

@keyframes ApparitionTexte {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
    
    }
    
    .metier,
    .page-accueil .image-accueil .message-bienvenue {
        animation: ApparitionTexte 3s ease-in-out;
      }

main .page-accueil .image-accueil img {
    clip-path: none;
}

}

/* début page à propos */

#page_a_propos {
    display: flex;
}

#page_a_propos .presentation {
    width: 50%;
}

#page_a_propos .presentation p {
    border: 3px solid #832F25;
    font-family: 'Archivo Narrow', sans-serif;
    text-align: justify;
    padding: 10px;
    height: 60vh;
    width: 70%;
    margin-top: 60px;
    margin-left: 15%;
}

#page_a_propos .about_me {
    position: relative;
    width: 50%;
}

/* #page_a_propos .about_me img {
height: 100%;
clip-path: polygon(5% 100%, 95% 100%, 95% 100%, 5% 0, 95% 0);
} */

#page_a_propos .about_me h2 {
    position: absolute;
    top: 50%;
    right: 10%;
}
/* fin page à propos */
