/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





/* mon commentaire */
header,
main,
footer {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(227, 213, 202);
    padding: 5px;
}

/* appel par id */
div#container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 8fr 1fr;

}

/* appel par nom de balise */
header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* appel par classe */
header>nav>ul.liste {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    font-family: system-ui;
    text-transform: uppercase;

}

header>nav>i.fa-bars {
    display: none;
}

/* adaptation du site web en fonction de l'écran. Ici ont met des conditions pour des largeurs d'écran inférieur à 768px */

/* media query */
@media screen and (max-width:768px) {

    /* On fait disparaître la liste qui se trouve en en-tête si la largeur de l'écran est < 768px */

    header>nav>ul.liste {
        display: none;
    }

    /* on fait apparaître l'icone bars si largeur < 768px  */

    header>nav>i.fa-bars {
        display: block;
    }

    /* on dispose le logo, l'icone et la liste et change le fond de l'arrière plan si largeur < 768px */

    header>nav.open {
        position: fixed;
        width: 100%;
        flex-direction: column;
        background: lightgrey;
        top: 0;
        left: 0;

    }

    /* on dispose la liste en colonne et change le fond de l'arrière plan si largeur < 768px */

    header>nav.open>ul.liste {
        flex-direction: column;
        justify-content: space-around;
        display: block;
        display: flex;
    }

}

/* défilement de la page web */

* {
    scroll-behavior: smooth;
}

/* couleur de fond de l'entête et du pied de page */

header,
footer {
    background-color: rgb(237, 237, 233);
}

/* taille de mon logo */

div#logo>img {
    height: 80px;
}

/* bordure lorsque l'onglet accueil est ouvert */

.Accueil {
    border: 3px solid rgb(214, 204, 194);
    padding: 20px;
    border-radius: 10%;
    background: white;
    display: inline;
}

/* bordure lorsque l'onglet à propos est ouvert */

.propos {
    border: 3px solid rgb(214, 204, 194);
    padding: 20px;
    border-radius: 10%;
    background: white;
    display: inline;
}

/* mise en couleur du texte de mon en-tête */

header>nav>ul>li>a {
    color: darkred;
}


/* mise en page de la page d'accueil en 2 blocs */

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

main>.bloc1 {
    display: flex;
    height: 100%;
}

main>.bloc1>.accueil1 {
    margin-left: 2%;
    margin-right: 2%;
}

/* dimension de mon image et positionnement */

main>.bloc1>.accueil1>img {
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
    border: 6px ridge rgb(245, 235, 224);
}

/* bordure de ma présentation */

.bloc1>.presentation {
    border: 6px ridge rgb(245, 235, 224);
    background-color: white;
    height: 60%;
    margin-top: 2%;
    margin-left: 2%;

}

/* titre du bloc présentation de ma page d'acceuil*/

.bloc1>.presentation>h1 {
    font-size: 20px;
    font-family: fangsong;
    margin-top: 2%;
    text-align: center;
}

/* paragraphe du bloc présentation de ma page d'accueil */

.bloc1>.presentation>p {
    font-size: 12px;
    font-family: math;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;

}

main>.bloc2 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

main>.bloc2>h2 {
    writing-mode: tb-rl;
    text-orientation: upright;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 180%;
    color: darkred;
}