/* MISE EN PAGE */

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 15vh 85vh;
}

header {
    background-color: #CAC0AD;
    z-index: 10;
}

/* HEADER / BARRE DE NAVIGATION */

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigation .logo img {
    height: 70px;
    margin-left: 30px;
}

#sommaire, label {
    display: none;
}

.navigation nav {
    width: 60%;
}

.navigation nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation nav ul li a {
    text-decoration: none;
    color: #503B3D;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

/* AJOUT DE CLASSE page-lien-a-propos JS */
/* AJOUT DE CLASSE page-lien-accueil JS */
.navigation nav ul .lien-accueil a,
.navigation nav ul .lien-a-propos a:active,
.navigation nav ul .lien-experiences a:active,
.navigation nav ul .page-lien-accueil a:active,
.navigation nav ul .page-lien-a-propos a {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

/*  AJOUT DE CLASSE page-lien-accueil JS */
.navigation nav ul .lien-a-propos a:hover,
.navigation nav ul .lien-experiences a:hover,
.page-lien-accueil a:hover {
    background-color:white;
    font-weight: 100;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

/* PAGE D'ACCUEIL */
main {
    z-index: 0;
}

main .page-accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    height: 100%;
    max-height: 100%;
}

main .page-accueil .image-accueil {
    position: relative;
    height: 100%;
}

main .page-accueil .image-accueil img {
    height: 100%;
    width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

main .page-accueil .image-accueil .message-bienvenue {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
    color: #F5EBE0;
    letter-spacing: 2px;
    position: absolute;
    top: 5px;
    right: 50px;
    text-align: right;
    margin-left: 30px;
}

main .page-accueil .metier {
    width: 40%;
    font-size: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    transform: translateX(-30px);
}

main .page-accueil .metier hr {
    margin-right: 135px;
}

main .page-accueil .metier span {
    display: block;
    color: #832F25;
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
}

/* ANIMATION / APPARITION */
@keyframes ApparitionTexte {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}
}

.metier,
.page-accueil .image-accueil .message-bienvenue {
    animation: ApparitionTexte 3s ease-in-out;
  }
  
/* PAGE À-PROPOS */

main #page_a_propos {
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #503B3D 5%, rgba(0, 0, 0, 0) 0%), linear-gradient(-45deg, #503B3D 25%, rgba(0, 0, 0, 0) 0%)
}

main #page_a_propos .presentation {
    height: 55vh;
    width: 25vw;
    margin-top: 70px;
    text-align: justify;
    padding: 5px 10px;
    background-color: #503B3D;
    border-radius: 20px;
}

main #page_a_propos .presentation p {
    margin: 2vh 3vw;
    color: #f8f7f2;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.4rem;
}

main #page_a_propos .presentation .centrer {
    text-align: center;
    margin-top: 2vh;
}

main #page_a_propos .bloc_page_a_propos {
    width: 40vw;
    height: 55vh;
    margin-top: 70px;
    margin-right: 20vw;
}

main #page_a_propos .bloc_page_a_propos .titre_photo {
    display: flex;
}

main #page_a_propos .bloc_page_a_propos .titre_photo .photo {
    width: 50vw;
    height: 25vh;
    margin-left: 20px;
    max-width: 15vw;
    background-image: url(img/photo-dessin.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}
main #page_a_propos .bloc_page_a_propos .titre_photo .titre {
    width: 50vw;
    margin-left: 20px;
    background-color: #CAC0AD;
    font-size: 2.3rem;
    color: #503B3D;
    font-family: 'Archivo Narrow', sans-serif;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 20px;
}

main #page_a_propos .bloc_page_a_propos .redBloc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: solid #832F25;
    background-color: #CFAD92;
    font-family: 'Archivo Narrow', sans-serif;
    color: #503B3D;
    font-size: 1.7rem;
}

main #page_a_propos .bloc_page_a_propos .redBloc:hover {
background-color: #f8f7f2;
cursor: pointer;
}

main #page_a_propos .bloc_page_a_propos .redBloc i {
    color: #832f25;
    font-size: 1.7rem;
    margin-right: 5px;
}

main #page_a_propos .prenom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
    margin-left: 20px;
    margin-top: 15px;
    background-color: #F5EBE0;
    border-radius: 20px;
}

main #page_a_propos .prenom p {
margin-left: 20px;
font-size: 2.3rem;
color: #503B3D;
font-family: 'Archivo Narrow', sans-serif;
line-height: initial;
letter-spacing: 2px;
}

/* RESPONSIVE */
/* PAGE ACCUEIL - MESSAGE BIENVENUE */
@media screen and (max-width:980px) {
    main .page-accueil .image-accueil .message-bienvenue {
        margin-left: 120px;
    }
}

/* PAGE À PROPOS - PRÉSENTATION */
@media screen and (min-width: 781px) {

    @media screen and (min-height: 500px){
    main #page_a_propos .presentation p {
        font-size: 1.1rem;
    }
    }

    @media screen and (min-height: 800px){
        main #page_a_propos .presentation p {
            font-size: 1.4rem;
    }
    }

    @media screen and (min-height: 1200px){
        main #page_a_propos .presentation p {
            font-size: 1.6rem;
    }
    }
}
/* GLOBAL */
@media screen and (max-width: 780px) {

.navigation nav ul,
#sommaire:checked ~ nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85vh;
    width: 100%;
    transition: 1s;
    background-color: #F5EBE0;
    margin-top: 7.5vh;
}

.navigation nav ul {
    left: -100%;
}
#sommaire:checked ~ nav ul {
    left: 0;
}

.navigation nav ul .lien-a-propos a:hover,
.navigation nav ul .lien-experiences a:hover {
    background-color:white;
    font-weight: 100;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

.navigation nav ul .lien-a-propos a:active,
.navigation nav ul .lien-experiences a:active {
    background-color: #832F25;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
}

label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

label i {
    font-size: 2.5em;
}

main .page-accueil {
    display: block;
    margin: 0;
}

main .page-accueil .metier {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 50px;
}

main .page-accueil .image-accueil img {
    clip-path: none;
}

main #page_a_propos {
    position: relative;
}

main #page_a_propos .presentation {
    height: 100%;
    margin-top: 0;
    width: 100%;
    border-radius: 0;
}

main #page_a_propos .presentation .centrer {
    margin-top: 3vh;
}

main #page_a_propos .presentation p {
    margin: 3vh 10vw;
}

main #page_a_propos .bloc_page_a_propos {
    position: absolute;
    width: 100vw;
    /* height: 85vh; */
    height: 100%;
    margin-right: 0;
}

main #page_a_propos .bloc_page_a_propos .titre_photo {
    display: block;
    /* height: 85vh; */
    height: 100%;
    position: relative;
    margin-top: 0;
}

main #page_a_propos .bloc_page_a_propos .titre_photo .photo {
    position: absolute;
    max-width: 25vw;
    height: 15vh;
    bottom: 25vh;
    left: 10vw;
    z-index: 1;
    margin-left: -5vw;
}

main #page_a_propos .bloc_page_a_propos .titre_photo .titre {
    position: absolute;
    width: 70vw;
    margin-left: 0;
    bottom: 20vh;
    right: 10vw;
}

main #page_a_propos .bloc_page_a_propos .prenom{
    display: none;
}

main #page_a_propos .bloc_page_a_propos .redBloc {
    position: absolute;
    top: 43vh;
    width: 50vw;
    right: 10vw;
    margin-left: 0;
    margin-top: 0;
}

@media screen and (min-height: 800px) {
main #page_a_propos .presentation p {
    font-size: 1.6rem;
} 
}

@media screen and (min-height: 900px){
main #page_a_propos .presentation p {
    font-size: 1.7rem;
}
}

@media screen and (min-height: 1000px){
    main #page_a_propos .presentation p {
        font-size: 2rem;
    }
    }

@media screen and (max-width: 300px){
    main #page_a_propos .presentation p {
        font-size: 1.1rem;
    }
    }
}
